#!/bin/bash
set +e # be tolerent

#exec --no-startup-id feh --randomize --bg-fill ~/Pictures/Wallpapers/*
#exec --no-startup-id feh --bg-fill ~/Pictures/Dark-pattern.jpg
xrandr --output VGA-0 --primary

aplay ~/yourstartupmusic.wav &

volumeicon &
parcellite &
xsetroot -solid "#333333"

## Set startup volume
amixer set Master 20% &
amixer set Master unmute &
amixer set PCM 80% &
amixer set PCM unmute &

### OSD
dunst &
