[user]
  email = kommander@laposte.net
  name = "Thomas Kienlen"

[alias]
  b = branch
  d = checkout develop
  r = remote
  ci = commit
  co = checkout
  dc = diff --cached
  fo = fetch origin
  st = status -sb
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  ll = log --stat --abbrev-commit
  pd = push origin develop
  pr = pull --rebase
  rd = rebase origin/develop
  amend = commit --amend -C HEAD

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[push]
  default = matching
[github]
  user = kmmndr
[core]
  excludesfile = ~/.gitignore_global
[diff]
  tool = vimdiff
[merge]
  tool = meld
