[user]
  email = thomas.kienlen@lafourmi-immo.com
  name = "Thomas Kienlen"
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
  default = matching
[github]
  user = kmmndr
[core]
  excludesfile = ~/.gitignore_global
