[user]
  email = kommander@laposte.net
  name = "Thomas Kienlen"

[alias]
  b = branch
  d = checkout develop
  r = remote
  ci = commit
  co = checkout
  dc = diff --cached
  fo = fetch origin
  st = status -sb
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset %C(bold cyan)%aD%C(reset)' --abbrev-commit
  ll = log --stat --abbrev-commit
  pd = push origin develop
  pm = push origin master:master --tags
  pr = pull --rebase
  rd = rbd
  rbd = rebase origin/develop
  rbm = rebase origin/master
  bam = !git branch-remote-already-merged
  bnm = !git branch-remote-not-merged
  amend = commit --amend -C HEAD
  cleanup = checkout -- .
  branch-local-not-merged = branch --no-merged origin/master
  branch-local-already-merged = branch --merged origin/master
  branch-remote-not-merged = branch -r --no-merged origin/master
  branch-remote-already-merged = branch -r --merged origin/master
  branch-remote-clean = remote prune origin

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[push]
  default = current
[github]
  user = kmmndr
[core]
  excludesfile = ~/.gitignore_global
[diff]
  tool = vimdiff
[merge]
  tool = meld
[init]
  templatedir = ~/.git-templates
